TRANSACTIONAL_EMAIL_PROVIDER=
GRAPH_CLIENT_ID=
GRAPH_TENANT_ID=
GRAPH_REFRESH_TOKEN_BOOTSTRAP=
GRAPH_TOKEN_ENCRYPTION_KEY=
GRAPH_TOKEN_KEY_VERSION=
TRANSACTIONAL_EMAIL_FROM_ADDRESS=
TRANSACTIONAL_EMAIL_FROM_NAME=
TRANSACTIONAL_EMAIL_REPLY_TO=
RESEND_API_KEY=
CAMPAIGN_BASE_URL=
